@import url('https://fonts.googleapis.com/css?family=Bungee');

@font-face {
    font-family: 'Industry-Demi';
    src: url('fonts/Industry/industry-demi-webfont.woff2') format('woff2'),
    url('fonts/Industry/industry-demi-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Industry-Book';
    src: url('fonts/Industry/Industry-Book-webfont.woff2') format('woff2'),
    url('fonts/Industry/Industry-Book-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Industry-MediumItalic';
    src: url('fonts/Industry/Industry-MediumItalic-webfont.woff2') format('woff2'),
    url('fonts/Industry/Industry-MediumItalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Industry-BlackItalic';
    src: url('fonts/Industry/Industry-BlackItalic-webfont.woff2') format('woff2'),
    url('fonts/Industry/Industry-BlackItalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Industry-LightItalic';
    src: url('fonts/Industry/Industry-LightItalic-webfont.woff2') format('woff2'),
    url('fonts/Industry/Industry-LightItalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Industry-Bold';
    src: url('fonts/Industry/Industry-Bold-webfont.woff2') format('woff2'),
    url('fonts/Industry/Industry-Bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Industry-Black';
    src: url('fonts/Industry/Industry-Black-webfont.woff2') format('woff2'),
    url('fonts/Industry/Industry-Black-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Industry-ThinItalic';
    src: url('fonts/Industry/Industry-ThinItalic-webfont.woff2') format('woff2'),
    url('fonts/Industry/Industry-ThinItalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Industry-Thin';
    src: url('fonts/Industry/Industry-Thin-webfont.woff2') format('woff2'),
    url('fonts/Industry/Industry-Thin-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Industry-Light';
    src: url('fonts/Industry/Industry-Light-webfont.woff2') format('woff2'),
    url('fonts/Industry/Industry-Light-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Industry-BookItalic';
    src: url('fonts/Industry/Industry-BookItalic-webfont.woff2') format('woff2'),
    url('fonts/Industry/Industry-BookItalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Industry-UltraItalic';
    src: url('fonts/Industry/Industry-UltraItalic-webfont.woff2') format('woff2'),
    url('fonts/Industry/Industry-UltraItalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Industry-DemiItalic';
    src: url('fonts/Industry/Industry-DemiItalic-webfont.woff2') format('woff2'),
    url('fonts/Industry/Industry-DemiItalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Industry-Medium';
    src: url('fonts/Industry/Industry-Medium-webfont.woff2') format('woff2'),
    url('fonts/Industry/Industry-Medium-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Industry-BoldItalic';
    src: url('fonts/Industry/Industry-BoldItalic-webfont.woff2') format('woff2'),
    url('fonts/Industry/Industry-BoldItalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Industry-Ultra';
    src: url('fonts/Industry/Industry-Ultra-webfont.woff2') format('woff2'),
    url('fonts/Industry/Industry-Ultra-webfont.woff') format('woff');
}


@media (max-width: 1040px) {
    .side-menu {
        min-height: inherit !important;
        max-width: 100vw !important;
        min-width: 100vw !important;
        width: 100vw !important;
    }
}

@media (max-width: 500px) {
    #name {
        font-size: 0.7rem !important;
    }
}

body, html {
    font-style: normal;
    font-weight: 200;
    height: 100%;
    background: url("img/cherry.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.side-menu {
    background: rgba(0, 0, 0, 0.88);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    padding: 3rem;
    width: 460px;
}

#name {
    width: max-content;
    font-family: 'Industry-Black', sans-serif;
    background-color: #ffffff;
    color: #000000;
    display: inline;
    font-size: 1rem;
    letter-spacing: 0.25rem;
    overflow: hidden;
    padding: 0.333rem 0.333rem 0.333rem 0.583rem;
    text-transform: uppercase;
}

#introduction {
    font-family: 'Industry-Demi', sans-serif;
    color: #b9b9b9;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    flex-grow: 1;
    font-size: 0.75rem;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    line-height: 2 !important;
    margin: 2.667rem 0 2.667rem 0;
    text-align: justify;
}

.social a {
    height: 56px;
    background: #000000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    margin: 0 0 1rem 0;
    text-decoration: none;
    cursor: pointer;
}

.left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.45rem;
    padding-right: 0.45rem;
}

.left.github {
    background-color: #ffffff;
}

.left.youtube {
    background-color: #ff3d00;
}

.left.xing {
    background-color: #006064;
}

.left.paypal {
    background-color: #0070ba;
}

.left img {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 35px;
}

.right {
    font-family: 'Industry-Black', sans-serif;
    color: white;
    -webkit-box-align: inherit;
    -webkit-align-items: inherit;
    -moz-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    display: block;
    font-weight: bold;
    line-height: 1.125;
    padding: 0.75rem;
    text-transform: uppercase;
}

.right span {
    display: block;
    font-size: 0.75rem;
    font-weight: normal;
    text-transform: lowercase;
}

.content-menu {
    font-family: 'Industry-Medium', sans-serif;
    padding: 3rem;
}

.content-menu div {
    margin: 0 0 3rem 0;
    padding: 0;
}

.content-menu span {
    color: #b9b9b9;
    display: inline-block;
    font-size: 0.75rem;
    margin: 0 0 0.25rem 0;
    text-transform: uppercase;
}

h3 {
    font-size: 1.75rem;
    line-height: 1;
    margin: 0 0 0.125rem 0;
    text-transform: uppercase;
}

h4 {
    font-size: 1.125rem;
    font-weight: 300;
    margin: 0 0 0.75rem 0;
}

h5 {
    margin: 0;
}

#firefly {
    height: 100%;
    z-index: 1;
}

canvas {
    height: 100%;
}